<div *ngIf="displayElement; else showThis">

	<app-table-map></app-table-map>


</div>

<ng-template #showThis>
	<h2>Selection pending</h2>
	<div>Select a call from top menu and a transcript will be shown here</div>
</ng-template>



<!-- <div *ngFor="let product of products">
  <h3>
    {{ product.name }}
  </h3>
</div> -->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->