table {
  width: 100%;
}
.text-center {
  width: 100vw;
  text-align: center;
}
.text-center h2 {
  font-weight: bold;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
