<div class="cover">
	<div class="table-cover">
		<div class="header-top-stat">
			<div class="name-T">Real</div>
			<div style="display:flex">
				<div class="name-mark">100%</div>
				<div class="piechart"></div>
			</div>
		</div>
		<div class="table-responsive">
			<table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
				<ng-container *ngFor="let col of displayedColumns">
					<ng-container matColumnDef="{{col}}" *ngIf="col!='sentence' else loading">
						<th mat-header-cell #scrollCtrl *matHeaderCellDef> {{col| titlecase}} </th>
						<td mat-cell #scrollCtrl #scrl *matCellDef="let element"> {{element[col]}}</td>
					</ng-container>
					<ng-template #loading>
						<ng-container matColumnDef="{{col}}">
							<th mat-header-cell #scrollCtrl *matHeaderCellDef> {{col| titlecase}} </th>
							<td mat-cell [matTooltip]="element.matching_sentence" matTooltipPosition="above"
								class="hoverBody" ng-mouseover="showDefinition($event)" *matCellDef="let element">
								{{element[col]}}</td>
						</ng-container>
					</ng-template>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
	</div>
	<div class="table-cover">
		<div class="header-top-stat">
			<div class="name-T">Expected</div>
			<div style="display:flex">
				<div class="name-mark">100%</div>
				<div class="piechart-full"></div>
			</div>
		</div>
		<div class="table-responsive2">
			<table #table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
				<ng-container *ngFor="let col of displayedCol2">
					<ng-container matColumnDef="{{col}}" *ngIf="col!='sentence' else loading2">
						<th mat-header-cell #scrollCtrl *matHeaderCellDef> {{col| titlecase}} </th>
						<td mat-cell #scrollCtrl #scrl *matCellDef="let element"> {{element[col]}}</td>
					</ng-container>
					<ng-template #loading2>
						<ng-container matColumnDef="{{col}}">
							<th mat-header-cell #scrollCtrl *matHeaderCellDef> {{col| titlecase}} </th>
							<td mat-cell [matTooltip]="element.matching_sentence" matTooltipPosition="above"
								class="hoverBody" ng-mouseover="showDefinition($event)" *matCellDef="let element">
								{{element[col]}}</td>
						</ng-container>
					</ng-template>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedCol2;sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedCol2;"></tr>
			</table>
		</div>
	</div>
</div>