<!-- <a [routerLink]="['/']"> -->
<!-- <h4>My Store</h4> -->
<mat-form-field appearance="fill">
	<mat-label>Agent</mat-label>
	<mat-select (selectionChange)="onAgentSelect($event.value)">
		<mat-option>None</mat-option>
		<mat-option *ngFor="let food of foods" [value]="food.full_name">
			{{food.full_name}}
		</mat-option>
	</mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
	<mat-label>Call</mat-label>
	<mat-select (selectionChange)="onCallChange($event.value)">
		<mat-option>None</mat-option>
		<mat-option *ngFor="let food of mockCall" [value]="food">
			{{food}}
		</mat-option>
	</mat-select>
</mat-form-field>
<!-- </a> -->


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->